.quiz-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 20px;
}

.quiz-form {
    color: #1a1a1a;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}

.quiz-thank-you-message h2 {
    display: flex;
    justify-self: center;
    font-size: 2rem;
    color: #333;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.quiz-thank-you-message p {
    display: flex;
    justify-self: center;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
}

.quiz-thank-you-message h3 {
    justify-self: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.quiz-thank-you-message h3 span {
    font-size: 1.2rem;
    color: #777;
}

.quiz-thank-you-message Button {
    display: flex;
    justify-self: center;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 20px;
}

.quiz-thank-you-message Button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.quiz-thank-you-message Button:focus {
    outline: none;
}


.quiz-title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.question-text {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.submit-btn {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom:  20px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    justify-self: center;
}

.submit-btn:hover {
    transform: scale(1.05);
}

.submit-btn:focus {
    outline: none;
}

.question {
    margin-bottom: 20px;
}
